body {
    background: linear-gradient(135deg, rgb(255, 168, 168) 10%, rgb(252, 255, 0) 100%);
}

a {
    color: #6c63ff;
    text-decoration: none;
}

.App {
    padding: 60px 0 100px;
    max-width: 960px;
    margin: 0 auto;
}

.App-header {
    margin: 30px 0;
}


.App footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}