.Dictionary h1 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

.Dictionary section {
   background: white;
   padding: 30px;
   border-radius: 8px;
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
   margin: 20px 0;
}

.Dictionary input {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #ddd;
    color: #333;
}

.Dictionary .hint {
    font-size: 10.5px;
    margin-top: 5px;
}